

body
    {
        margin: 0;
        padding-top: 10px;
        text-align: center;
        background-color: #C1EFFF;
    }

p
    {
        display: inline-block  
    }

#cloud1
    {
        
    }

#cloud2
    {
        margin-left: 450px;
    }

h1
    {
        display: inline-block;
        margin: 50px auto 0 auto;
        font-family: 'Sacramento';
    }

#immitch
    {
        font-family: 'Sacramento', cursive;
        font-size: 2em;
    }

#aprogrammer
    {
        font-family: 'Edu NSW ACT Foundation';
        font-size: 2em;
        position: relative;
        right: 25px;        
    }

#mountain-line
    {
        padding: 0;
        margin: 0;
    }

#first
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #C1EFFF;
        height: auto;
        width: 100%;
        margin: 0%;
        border: 0;
    }

#second
    {
        font-family: Arial, Helvetica, sans-serif;
        height: 200px;
        width: 200px;
        border: solid black;
    }

#third
    {
        height: 200px;
        width: 200px;
        background-color: red;
        border: black solid;
    }

.pro
    {
        text-decoration: underline;
    }

#experiment
    {
        width: 50px;
        height: 50px;
        background-color: #FFDBA4;
        float: right;
        border-radius: 30px;
        padding: 5px;
        position: relative;
        right: 20px;
        top: 10px;       
    }

#hello1
    {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

#mountain
    {
        display: block;
        margin-bottom: 0px;
        border: 0;
        top: 300px;
        line-height: 0;
    }

.middle-container
    {
        font-family: 'Edu NSW ACT Foundation';
    }

#h2
    {
        font-family: 'Sacramento';
    }

#h3
    {
        font-family: 'Sacramento';
    }
    
#face 
    {
        padding-top: 10px;
        width: 250px;
        height: 250px;
    }

#compy
    {
        width: 250px;
        height: 250px;
    }
